<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../src/plugin/zepto.js"></script>
    <script src="../src/plugin/zepto.alert.js"></script>
    <link rel="stylesheet" href="../src/plugin/zepto.alert.css" type="text/css">
</head>
<script>
    $(document).ready(function () {
        $.dialog({
            content : '窗口将在2秒后自动关闭',
            title: "alert",
            width: 600,
            time : 2000000
        });
    })
</script>
<body>


</body>
</html>